.cred-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

form input {
    height: 30px;
    width: 300px;
    border-radius: 10px;
    border: solid lightblue
}

form button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
}

#error {
    visibility: hidden;
}

#tasks {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

.task-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: 10px;
    background: whitesmoke;
    height: 90vh;
    padding-left: 15px;
    border-radius: 10px;
}

.task {
    position: relative;
    background: lightgray;
    padding-left: 15px;
    width: 80%;
    border-radius: 10px;
    min-height: 125px;
    white-space: pre-wrap;
    flex-shrink: 0;
}

#incomplete-tasks, #complete-tasks {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow-y: auto;
}

.task input[type="checkbox"] {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 20%;
    right: 3%;
}

.task button {
    position: absolute;
    height: 30px;
    width: 60px;
    background-color: transparent;
    border: transparent;
}

.task #delete-btn {
    color: red;
    left: 7px;
    bottom: 2px;
}

.task #edit-btn {
    color: green;
    left: 60px;
    bottom: 2px;
}

.task #delete-btn:hover {
    color: darkred;
}

.task #edit-btn:hover {
    color: darkgreen;
}

#tasks-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}

#sign-out {
    height: 30px;
    width: 100px;
    font-size: 15px;
    margin-left: 80%;
}

#add-button {
    height: 30px;
    width: 100px;
    font-size: 15px;
}

.modal {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: lightskyblue;
    border-radius: 10px;
    height: 55vh;
    width: 70vh;
    z-index: 2;
}

.modal.active {
    display: flex;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.modal-body textarea {
    resize: none;
    font-size: 20px;
}

.modal-header button {
    position: fixed;
    top: 20px;
    right: 20px;
}

.modal-header h1 {
    color: white;
}

.task-title {
    height: 30px;
    width: 300px;
}

.task-description {
    height: 300px;
    width: 500px;
}

#overlay {
    position: fixed;
    opacity: 0;
    inset: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 1;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
