.cred-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

form input {
    height: 30px;
    width: 300px;
    border-radius: 10px;
    border: solid lightblue
}

form button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
}

#error {
    visibility: hidden;
}

#tasks {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

#incomplete-tasks, #complete-tasks {
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: 10px;
    background: whitesmoke;
    height: 90vh;
    padding-left: 15px;
    border-radius: 10px;
}

.task {
    position: relative;
    background: lightgray;
    padding-left: 15px;
    width: 80%;
    border-radius: 10px;
}

.task input[type="checkbox"] {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 20%;
    right: 3%;
}

.task button {
    position: absolute;
    height: 30px;
    width: 60px;
    bottom: 10%;
    right: 3%;
    background-color: transparent;
    border: transparent;
    color: red;
}

.task button:hover {
    color: darkred;
}
