.task {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    border-radius: 10px;
    min-height: 125px;
    white-space: pre-wrap;
    flex-shrink: 0;
    background: rgb(26, 26, 26);
}

.placeholder {
    background: rgb(26, 26, 26);
    width: 80%;
    border-radius: 10px;
    flex-shrink: 0;
}

.dragging {
    display: none;
}

#task-body {
    padding-left: 15px;
}

.task input[type="checkbox"] {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 15%;
    right: 3%;
}
